# .NET
bin/
obj/

# Build Results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild[Ll]og.*
[Bb]uild[Rr]esults/
[Rr]esults/
[Tt]est[Rr]esults/
*.appx
*.appxupload
*.msix
*.msixupload
*.appxbundle
*.msixbundle

# Npm Packages
node_modules/

# VS Code directories
.vscode/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# VS files
.vs/
*.vscode/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Web-specific files
client/bin/
client/obj/

# JetBrains Rider
.idea/
.idea_modules/
.idea_modules.xml

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~
# Temporary Files
*.tmp
*.temp
